<header class="container-fluid">
    
    <div class="container mt-5 mb-3">
        <a href="/">Weather</a>
        <a href="/about">About</a>
        <a href="/help">Help</a>
    </div>
    <h2 class="eeu-h2 ml-2">{{title}}</h2>
</header>