<header class="container-fluid">
    <h2 class="eeu-h2">{{title}}</h2>
    <div class="container">
        <a href="/">Weather</a>
        <a href="/about">About</a>
        <a href="/help">Help</a>
    </div>
</header>