/* =================== EEU STYLE  ==============*/
.wp-block-image img {
    height:auto;
  }
  
  .eeu-primaryColor {
    color: #1875d1;
  }
  .eeu-primaryLightColor {
    color: #63a3ff;
  }
  .eeu-primaryDarkColor {
    color: #004a9f;
  }
  
  .eeu-secondaryColor {
    color: #d22e2e;
  }
  .eeu-secondaryLightColor {
    color: #ff6558;
  }
  .eeu-secondaryDarkColor {
    color: #990006;
  }
  
  .eeu-grey100 {
    color: #212121;
  }
  .eeu-grey90 {
    color: #424242;
  }
  .eeu-grey80 {
    color: #616161;
  }
  .eeu-grey70 {
    color: #757575;
  }
  .eeu-grey60 {
    color: #9e9e9e;
  }
  .eeu-grey50 {
    color: #bdbdbd;
  }
  .eeu-grey40 {
    color: #e0e0e0;
  }
  .eeu-grey30 {
    color: #eeeeee;
  }
  .eeu-grey20 {
    color: #f5f5f5;
  }
  .eeu-grey10 {
    color: #fafafa;
  }
  .eeu-h1 {
    font-size: 6rem;
    line-height: 1.1;
    font-weight: 300;
  }
  .eeu-h2 {
    font-size: 3rem;
    line-height: 1.1;
    font-weight: 300;
  }
  .eeu-h3 {
    font-size: 3rem;
    line-height: 1.2;
    font-weight: 400;
  }
  .eeu-h4 {
    font-size: 2.25rem;
    line-height: 1.2;
    font-weight: 400;
  }
  .eeu-h5 {
    font-size: 1.5rem;
    line-height: 1.3;
    font-weight: 600;
  }
  .eeu-h6 {
    font-size: 1.25rem;
    line-height: 1.4;
    font-weight: 600;
  }

  .logo{
    width: 12rem;
    height: auto;
                      
  }
  html {
    box-sizing: border-box;
  }
  body {
    font-family: Catamaran, Helvetica, sans-serif;
    /* margin: 0 auto; */
    display:flex;
    flex-direction: column;
    min-height: 100vh;
  }
  footer {
    background-color: transparent;
    border-top: 1px solid #eeeeee;
    color: #121212;
    padding: 1rem;
    text-align: left;
    /* margin-top:calc(100vh/1.9); */
   
  }
  .main-content {
    flex-grow:1
  }
  /* footer p{
    margin-top: 1rem !important;
  } */
  .container-fluid {
    padding-right: 0!important;
    padding-left: 0 !important;
  }
  header {
    margin-top: 1rem;
    margin-bottom: 3rem;

  }
  header a{
    color: #888888;
    margin-right: 1rem;
    margin-left: -0.5rem!important;
    text-decoration: none!important;
  }
  #message-1{
    font-size: 32px;
    border-bottom: 1px solid #eeeeee;
    padding-bottom:1rem;
    margin-bottom:1rem;
    display:none;
  }
  #message-2{
    margin: 0 auto;
    
    text-align: left;
    font-size: 18px;
    line-height:1.5;
    white-space: pre-line;
  }
p#about {
  font-size: 18px;
  line-height: 1.5;
}


